venv
*.pyc
.DS_Store
.env
.ipynb_checkpoints

# Data files
data/
*.parquet
*.csv

# Tests
.pytest_cache/

# Package build
*.egg-info/
dist/

# Python virtual environments
.venv/

# Terraform artifacts
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
